<body>
    <form action="" method="" id="form">
        <div class="form">
            <h1><span class="span_">M</span>ascota</h1>
            <div class="grupo">
                <input type="text" name="nroChip" id="nroChip" required [(ngModel)]="mascota.nroChip" [ngModelOptions]="{standalone: true}" (keyup)="validate($event)"><span id='barra-nroChip' class="barra"></span>
                <label for="nroChip">Numero de microchip <sup class="span-required">*</sup></label>
                <p class="p-nroChip">Este campo es requerido y solo puede contener numeros, letras y guiones sin espacios.</p>
            </div>
            <div class="grupo">
                <input type="text" name="nombre" id="nombre" required [(ngModel)]="mascota.nombre" [ngModelOptions]="{standalone: true}"><span class="barra"></span>
                <label for="nombre">Nombre</label>
            </div>
            <div class="radio">
                <div class="grupo-half">
                    <label for="check" id="label-can">Can</label>
                </div>
                <div class="grupo-half">
                    <input type="checkbox" name="" id="check" required [(ngModel)]="v" [ngModelOptions]="{standalone: true}" (change)="setEspecie()"><span class="span-especie"></span>
                </div>
                <div class="grupo-half">
                    <label for="check" id="label-felino">Felino</label>
                </div>
            </div>
            <div class="grupo">
                <input type="number" name="peso" id="peso" required [(ngModel)]="mascota.peso" [ngModelOptions]="{standalone: true}"><span class="barra"></span>
                <label for="peso">Peso (Aprox.)</label>
            </div>
            <div class="column-half">
                <div class="btn">
                    <button type="submit" class="btn-form">Cancelar</button>
                    <button type="submit" class="btn-form" (click)="setDatosMascota()">Seguir</button>
                </div>
            </div>
        </div>
    </form>
</body>