:root {
    --colorTextos: #e65a5a67;
    background: -webkit-linear-gradient(to right, #ff00ff80, #61006180);
    background: linear-gradient(to right, #ff00ff80, #61006180);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: -webkit-linear-gradient(to right, #61006190, #D38312);
    background: linear-gradient(to right, #61006190, #D38312);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #fff;
    padding: 50px 20px 20px;
    box-shadow: 0 0 6px #00000080;
    border-radius: 10px;
    width: 90%;
    max-width: 320px;
    margin: 5% auto;
}

h1 {
    text-align: center;
    font-size: 500;
    margin-bottom: 45px;
}

p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px #000 solid;
    border-top: red solid;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    background-color: #fff;
    display: none;
}

.grupo label {
    color: #000000;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.p-active {
    display: block;
}

.span-text {
    color: #c20cc280;
}

.form {
    width: 100%;
}

.column-full {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column-half {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 20px auto;
}

.grupo {
    position: relative;
    width: 85%;
    margin: 20px auto;
}

.grupo-label {
    width: 45%;
    padding: 10px 5px 10px 5px;
}

#label-felino {
    float: right;
}

.grupo-check {
    margin: 10px auto;
}

.grupo input {
    background: none;
    color: #00000070;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(94, 93, 93);
}

.grupo input:focus {
    outline: none;
    color: #00000090;
}

input:focus~label,
#nroChip:valid~label {
    top: -14px;
    font-size: 13px;
}

.barra {
    position: relative;
    display: block;
}

.barra-error {
    position: relative;
    display: block;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #A83279, #D38312);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

.span-required {
    color: red;
}

#separador {
    width: 100%;
    margin: auto;
    position: absolute;
}

#separador {
    content: "";
    position: relative;
    left: -850%;
    width: 1825%;
}

#separador::after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #A83279, #D38312);
    transition: 0.3s ease width;
    left: 0;
}

input:not(checked)~#separador::after {
    transition: 0.3s;
    width: 50%;
}

input:checked~#separador::after {
    margin-left: 50%;
    width: 50%;
}

.grupo-btn {
    position: relative;
    margin: auto;
}

.btn-form {
    font-family: 'Roboto';
    background: -webkit-linear-gradient(to right, #ff00ff80, #61006190);
    background: linear-gradient(to right, #ff00ff80, #61006190);
    border: none;
    border-radius: 0px 5px 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 3px #00000060;
    padding: 8px 2% 8px 2%;
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
}