<body>
    <form action="" method="" id="form">
        <div class="form">
            <h1><span class="span_">M</span>ascota</h1>
            <div class="grupo">
                <input type="text" name="" id="senas" required [(ngModel)]="mascota.senasParticulares" [ngModelOptions]="{standalone: true}"><span class="barra"></span>
                <label for="senas">Señas particulares</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="tamano" required [(ngModel)]="mascota.tamano" [ngModelOptions]="{standalone: true}"><span class="barra"></span>
                <label for="tamano">Tamaño <sup class="span-required">*</sup></label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="personalidad" required [(ngModel)]="mascota.personalidad" [ngModelOptions]="{standalone: true}"><span class="barra"></span>
                <label for="personalidad">Personalidad</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="estado" required [(ngModel)]="mascota.estado" [ngModelOptions]="{standalone: true}"><span class="barra"></span>
                <label for="estado">Estado <sup class="span-required">*</sup></label>
            </div>

            <button type="submit" class="btn-form" (click)="back()">Atras</button>
            <button type="submit" class="btn-form" (click)="saveMascota()">Guardar</button>
        </div>
    </form>
</body>