:root {
    --colorTextos: #e65a5a67;
    background: -webkit-linear-gradient(to right, #ff00ff80, #61006180);
    background: linear-gradient(to right, #ff00ff80, #61006180);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: -webkit-linear-gradient(to right, #61006190, #D38312);
    background: linear-gradient(to right, #61006190, #D38312);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 80px;
}

p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
    border: #FF000080 solid;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    background-color: #FF000040;
    display: none;
}

.p-active {
    display: block;
}

.span_ {
    color: #c20cc280;
}

form {
    background: #fff;
    padding: 50px 20px 0 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    margin: 5% auto;
}

.form {
    width: 100%;
}

.column-half {
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
}

.grupo {
    position: relative;
    width: 45%;
    margin: 4% auto;
}

.grupo-btn {
    width: 95%;
}

#separador {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

input,
select {
    background: none;
    color: #00000070;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(94, 93, 93);
    outline: none;
}

.select {
    padding-left: 0;
}

option {
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    color: #00000090;
}

label {
    color: #000000;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

#label-textarea {
    top: 5px;
}

input:focus~label,
input:valid~label,
select:focus~label,
select:valid~label {
    top: -14px;
    font-size: 13px;
}

textarea:focus~#label-textarea,
textarea:valid~label#label-textarea {
    top: -22px;
    font-size: 13px;
}

.barra,
.separador,
.barra-error {
    position: relative;
    display: block;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #A83279, #D38312);
    transition: 0.3s ease width;
    left: 0;
}

.separador::before {
    content: "";
    height: 1px;
    position: absolute;
    background: rgba(94, 93, 93);
    width: 100%;
}

.barra-error::before {
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background: red;
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before,
select:focus~.barra::before,
textarea:focus~.barra::before {
    width: 100%;
}

.btn {
    position: relative;
    margin: auto;
}

.btn-form {
    font-family: 'Roboto';
    background: -webkit-linear-gradient(to right, #ff00ff80, #61006190);
    background: linear-gradient(to right, #ff00ff80, #61006190);
    border: none;
    border-radius: 0px 5px 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 3px #00000060;
    padding: 8px 2% 8px 2%;
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
}

.btn-carnet {
    width: 60%;
    margin-left: 0;
    margin-bottom: 3%;
}

.span-required {
    color: red;
}

.grupo-text {
    position: relative;
    width: 95%;
    margin: 2% auto;
}

#observaciones {
    box-sizing: border-box;
    background: none;
    color: #00000070;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    height: 100%;
    min-height: 90px;
    outline: none;
    border: 1px solid rgba(94, 93, 93);
    border-style: dashed;
    display: block;
}

.carnet {
    position: relative;
    left: 0;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    max-height: 700px;
    margin: 0 0 3% 0;
    display: flex;
    flex-wrap: wrap;
}

.carnet::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    margin-left: 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
}

.carnet .carnet-label {
    position: relative;
    top: 40%;
    font-family: 'Roboto';
    width: 60%;
    margin: 2% 5% 0 2%;
}

.carnet .carnet-btn {
    margin: 5px auto;
}